<div class="container">
  <div class="row">
    <div class="col-sm-12" style="padding: 10px;">
      <div style="text-align: center">
        <h6>Template Driven Form</h6>
      </div>
      <div>
        <app-template-driven></app-template-driven>
      </div>
      <div>
        <hr />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12" style="padding: 10px;">
      <div style="text-align: center">
        <h6>Reactive Forms</h6>
      </div>
      <div>
        <app-reactive-form></app-reactive-form>
      </div>
    </div>
  </div>
</div>
